#nav{
list-style-type: none;
display: block;
background-color: lightgrey;
color:#000;
width: 200px;
height: 30px;
}

#nav a{
    display: block;
    color: darkred;
    padding: 8px 16px;
    text-decoration: none;
    width:250px;
    height: 50px;
    background-color: rgb(190, 188, 188);

}
#nav :hover{
    display: block;
    color: darkred;
    padding: 8px 16px;
    text-decoration: none;
    width:500px;
    height: 50px;
}