#background{
    background-image: url(img/f439393188f380639367a6ea6ebc2aa7.jpg);
}

#h1{
text-align: center;
color:rgb(4, 46, 82);
background-color: rgba(169, 169, 169, 0.24) ;
font-size: 50px;
margin-left: 100px;
margin-right: 100px;

}

.topnav{
    text-align: center;
    color:aliceblue;
background-color: rgba(169, 169, 169, 0.555) ;
font-size: 20px;
margin-left: 100px;
margin-right: 100px;
}

.containers{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;
}

.texts {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
    color:rgb(4, 46, 82);
    background-color: rgba(169, 169, 169, 0.24) ;
    word-spacing: 1px;
}

#audio1{
height: 20px;
}

